{
    // "test": {
    //     "presets": [
    //         "@babel/preset-typescript",
    //          [
    //             "next/babel",
    //             {
    //                 "preset-env": {
    //                 "modules": "commonjs"
    //                 }
    //             }
    //         ]
    //     ]
    // },
}